<div class="page-header">
	<h1>Autorizar ou Cancelar Pedido</h1>
</div>

<% if flash[:error] %>
	<p class="alert alert-error"><%= flash[:error] %></p>
<% end %>
<% if flash[:success] %>
	<p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<%= form_tag "realizar_acao", :method => "get" do %>
	<div class="row">
		<fieldset class="span12">
			<legend>Pedido</legend>

			<%= label_tag(:codigo_pedido, "Código do Pedido:") %>
			<%= text_field_tag(:codigo_pedido) %>

			<br>

			<label class="radio inline">
				<input type="radio" id="autorizar" name="acao" value="autorizar" />Autorizar
			</label>
			<label class="radio inline">
				<input type="radio" id="cancelar" name="acao" value="cancelar" />Cancelar
			</label>
		</fieldset>
	</div>

	<div class="row" style="text-align: right;">
		<%= link_to "Voltar", { :action => 'index' }, :class => "btn" %>
		<%= submit_tag("Enviar", :class => "btn btn-primary") %>
	</div>
<% end %>