<div class="page-header">
	<h1>Loja Virtual</h1>
</div>

<ul class="nav nav-tabs">
	<li><%= link_to "Comprar Festa", :action => 'lista' %></li>
	<li><%= link_to "Cancelar Festa", :action => 'cancelar_festa' %></li>
	<li class="active"><%= link_to "Listar Pedidos", :action => 'lista_pedidos' %></li>
</ul>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID Transação</th>
			<th>Festa</th>
			<th>Estornado</th>
		</tr>
	</thead>

	<tbody>
<% @pedidos.each do |pedido| 
	festa = Produto.find(pedido.id_produto)
%>

		<tr>
			<td>
				<%= link_to pedido.id_transacao, :action => 'detalhes_pedido', :id => pedido.id_transacao %>
			</td>
			<td>
				<%= link_to festa.nome, :action => 'detalhes', :id => festa.id %>
			</td>
			<td><%= pedido.estornado ? "Sim" : "Não" %></td>
		</tr>
<% end %>
	</tbody>

</table>

<%= link_to "Voltar", { :action => 'index' }, :class => "btn" %>
